/* Typography */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background-image: url(MagicWallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top calc(75% - 50px);
  padding-top: 80px;
}
header {
  height: 100px;
  background-color: black;
  /* add styles for header content here */
	}


h1, h2 {
  font-weight: normal;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
/* Colors */
:root {
  --primary-color: #e74c3c;
  --secondary-color: #2c3e50;
}

header {
  background-color: var(--secondary-color);
  padding: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0
